<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178621609604-iedcf32oj7puh7l5vqlkqd13mla6q855.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178621609604-iedcf32oj7puh7l5vqlkqd13mla6q855</string>
	<key>API_KEY</key>
	<string>AIzaSyDGKS8FHsKvXSQzoO9PP2-K1fts2yXp_Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>178621609604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.branchminer.driver</string>
	<key>PROJECT_ID</key>
	<string>driver-demo-9f6af</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-demo-9f6af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178621609604:ios:fa5c04b930b00b0b2ef4d1</string>
</dict>
</plist>